div.search
    div.search-icon
        i.fa.fa-search
    form(method="get", action="/search")
        input(type = "text", placeholder = "search", name = "q")
div.sidebar-section
    h3.blog-nav-item
for page in allPages
    div.sidebar-section
        h3 !{page.uid}
        ul

div.sidebar-section
    h3 Archives
    ul
        li
            a