div.sidebar-section
    h3.blog-nav-item !{helpers.pages.pageLink(home, helpers.pageUrl(doc))}
- var children = helpers.pages.getHomeChildren(home)
each child in children
    div.sidebar-section
        h3 !{helpers.pages.pageLink(child, helpers.pageUrl(doc))}
        ul
            if(child.children)
                each subChild in child.children
                    li !{helpers.pages.pageLink(subChild)}

div.sidebar-section
    h3 Archives