body {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    overflow-x: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Lato', sans-serif;
}

.button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color: #0C0E57;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #D8D8D8;
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    border-radius: 4px;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    background: none;
}

.main h3 {
    margin: 0 0 16px 0;
    line-height: 1.7rem;
    font-size: 1rem;
}

.center {
    text-align: center;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

@font-face {
    font-family: 'StarterKit';
    src: url('../fonts/starterkit.eot') format('eot');
    src : url('../fonts/starterkit.woff') format('woff'),
    url('../fonts/starterkit.svg#abcd') format('svg'),
    url('../fonts/starterkit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-facebook::before {
    font-family: 'StarterKit';
    content: '\e00B';
}

.icon-twitter::before {
    font-family: 'StarterKit';
    content: '\e00E';
}

.icon-linkedin::before {
    font-family: 'StarterKit';
    content: '\e00D';
}

.icon-google-plus::before {
    font-family: 'StarterKit';
    content: '\e00C';
}

.icon-email::before {
    font-family: 'StarterKit';
    content: '\e00F';
}

.icon-pinterest::before {
    font-family: 'StarterKit';
    content: '\e011';
}



/*
 * Sidebar menu
 */

/*#right-panel {*/
    /*display: none;*/
    /*width: 220px;*/
    /*padding: 26px 30px;*/
    /*background-color: #181818;*/
    /*color: #fff;*/
/*}*/

#menu-hamburger {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    color: white;
    text-shadow: 0 0 2px black;
}

#menu-hamburger::before {
    font-family: 'StarterKit';
    content: '\e006';
}

/*
 * Sidebar content
 */
#right-panel li {
    list-style: none;
}

#right-panel a {
    color: #FFF;
}

#right-panel .search {
    border: solid 1px #4e4e4e;
    padding: 6px 20px;
    background: #181818;
    border-radius: 20px;
}

#right-panel .search input {
    border: 0;
    background: #181818;
    color: #FFF;
    font-size: 16px;
    max-width: 130px;
}

#right-panel .search input:focus {
    outline: none;
}

#right-panel .search-icon {
    float: right;
}

#right-panel .sidebar-section {
    padding-top: 30px;
}

#right-panel .sidebar-section h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}

#right-panel .sidebar-section ul {
    margin-top: 8px;
}

#right-panel .sidebar-section li {
    padding: 10px;
}

#right-panel .sidebar-section li a {
    font-size: 14px;
}



/* Panel opening and closing animation lasts 200ms */
body {
    transition: margin-right .2s;
}

/* Position panel */
#right-panel {
    background-color: #181818;
    color: #fff;
    right: -280px;
    position: fixed;
    top: 0;
    width: 220px;
    padding: 26px 30px;
    height: 100%;
    transition: right .2s;
    z-index: 99999;
}



body.ps-active-right {
    margin-right: 280px;
}

body.ps-active-right #right-panel {
    right: 0;
}

@media (min-width: 768px) {

    #menu-hamburger {
        padding: 30px;
        font-size: 22px;
    }

    #menu-hamburger::before {
        font-size: 22px;
    }
}

a {
    text-decoration: none;
}